.box1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 15px;
}

.box2{
    height: 100px;
    width: 100px;
    background-color: green;
    padding: 15px;
}

.box3{
    margin-top: 150px;
    margin-left: 100px;
    height: 300px;
    width: 300px;
    background-color: rgb(81, 81, 144);
    margin: 15px;
    color: aliceblue;
    transform: translate(100px, 100px);
    /* sol üst alt sağ dan boşluk bırakır*/
    transform: rotate(45deg);

    transform: scaleX(1.5);
    /* x eksenini 1.5 büyüttü */
}

.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(72, 149, 72);
    margin: 200px;
    color: aliceblue;
    transform: scaleX(2);
}

.box5{
    height: 100px;
    width: 100px;
    background-color: rgb(149, 72, 72);
    margin: 200px;
    color: aliceblue;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    transform: rotateX(18deg) perspective(100px);
}

.box6{
    height: 200px;
    width: 100px;
    background-color: rgb(72, 149, 72);
    margin: 100px;
    color: aliceblue;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75), 10px 10px 10px rgba(0, 0, 0, 0.75);
    /* çift gölge yani gölgeyi koyulaştırıyor */
    border-radius: 10px;
    transform: rotateY(18deg) perspective(100px);
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 1s, transform 1s;
    transition: width 1s, height 1s;
}

.box6:hover{
    background-color: rgba(255, 255, 255, 0.75);
    transform: rotateY(18deg) perspective(100px);
    width: 300px;
    height: 150px;
    transition: background-color 1s, transform 1s;
}

#div1{

    position: relative;
    height: 200px;
    width: 200px;
    margin: 100px;
    padding: 10px;
    border: 1px solid black;

}

#div2{
    padding: 50px;
    position: absolute;
    border: 1px solid black;    
    transform: rotateX(60deg);
    transform-style: preserve-3d;
    background-color: red;


}

#div3{  
    padding: 50px;
    position: absolute;
    border: 1px solid black;    
    transform: rotateY(-60deg);
    background-color: yellow;
}




.box7{
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, background-color 2s;
}

.box7:hover{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(180deg);
}

/* transform içindeki elemanlar */

/* transition dışındaki elemanlar  */


.container{
    align-items: center;
}
.translate, .scale, .rotate, .skew, .matrix, .perspective{
    margin: 60px;
    padding: 10px;
    border: 1px solid rgb(175, 53, 53);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    transition: 1s ease;
}

.transition:hover{
    transform: translate(100px, 100px);

}

.scale:hover{
    transform: scale(1.5);
}

/* height width in 1.5 katı kadar  */



.rotate:active{
    transform: rotate(180deg);
}

.rotate:active{
    transform: rotate(1turn);
}

.skew:hover{
    transform: skew(10deg);
}
 /* skew yamukluk eğrilik denir */
.skew:hover p{
    transform: skew(-10deg);
}

.matrix:hover{
    transform: matrix(1, 0.5, 0.5, 1, 30, 10);
}

.perspective {
    transform-origin:top;
}

.perspective:hover{
    transform: perspective(300px) rotateX(50deg);
}

/* perspective kullnarak kapı açılıp hediye paketi gibi yapmak */